# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

*.https://ci6.googleusercontent.com/proxy/QUXI7FQ5uRJg_5JnKqWtct7KJuzMcrDffDPFek92l2fWcxUWSBa3ZEJ9P9H8y-6A6LYFl4DzzdQUKelxNTz81vANnUmNpn41LthLlyRMhePDts6Sdqlr05lu2rV8ExmgBOZ58-A=s0-d-e1-ft#http://lzd-prod-crm.oss-ap-southeast-1.aliyuncs.com/nl/id/2020515_204229-Zakat.png
*.https://paypal.me/pemasaran7?locale.x=id_ID
